<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h1 class="mb-0">Car Detail</h1>
            </div>
            <div class="card-body">
                <h3 class="card-title">Name: {{ object.name }}</h3>
                <h3 class="card-title">Identity Number: {{ object.identityNumber }}</h3>
                <h3 class="card-title">Address: {{ object.address }}</h3>
                <h3 class="card-title">Department: {{ object.department }}</h3>
            </div>
        </div>
    </div>
</body>
</html>
