{% extends 'header.html' %}

{% block page_title %}
Car List
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Used Car List</h1>
        <a href="{% url 'add_car' %}" class="btn btn-primary">Add Car</a>
        <form method="GET">
            <div class="form-group">
                <label for="manufacturer">Filter by Manufacturer:</label>
                <select class="form-control" name="manufacturer" id="manufacturer">
                    <option value="">All</option>
                    {% for manufacturer in manufacturers %}
                        <option value="{{ manufacturer }}" {% if selected_manufacturer == manufacturer %}selected{% endif %}>{{ manufacturer }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="year">Filter by Year:</label>
                <input type="range" class="form-control-range" id="year" name="year" min="1998" max="2020" step="1" value="{{ selected_year }}">
                <span>Selected Year Range: <span id="startYear">{{ selected_year }}</span> - <span id="endYear">2020</span></span>
            </div>
            {% if models %}
            <div class="form-group">
                <label for="model">Filter by Model:</label>
                <select class="form-control" name="model" id="model">
                    <option value="">All</option>
                    {% for model in models %}
                        <option value="{{ model }}" {% if selected_model == model %}selected{% endif %}>{{ model }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
        <br>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for car in car_data %}
                <tr>
                    <td>{{ car.1 }}</td>
                    <td>{{ car.2 }}</td>
                    <td>{{ car.3 }}</td>
                    <td>
                        <a href="{% url 'car_detail' car.0 %}" class="btn btn-info">Detail</a>
                        <a href="{% url 'car_confirm_delete' car.0 %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'car_update' car.0 %}" class="btn btn-warning">Update</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4"><b> Please, add select a filter.</b></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
