<!-- image_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Page</title>
</head>
<body>
    <h1>Image Page</h1>

    <!-- Display the line graph for average price of cars by year -->
    <h2>Line Graph: Average Price of Cars by Year</h2>
    <img src="{{ graph1 }}" alt="Line Graph">

    <!-- Display the bar graph for number of cars by year -->
    <h2>Bar Graph: Number of Cars by Year</h2>
    <img src="{{ graph2 }}" alt="Bar Graph">

    <!-- Display the bar graph for number of cars by year -->
    <h2>Bar Graph: Number of Cars by Year</h2>
    <img src="{{ graph3 }}" alt="Bar Graph">

</body>
</html>